.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;

  position: absolute;
  bottom: 16px;
}

.pageItem {
  margin: 0 5px;
}

.pageLink {
  color: #007bff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
  height: 30px;
  box-sizing: border-box;
}

.pageLink:hover {
  background-color: #f8f9fa;
}

.pageLink:focus {
  outline: none;
}

.active .pageLink {
  background-color: #007bff;
  color: #fff;
}

.arrow {
  font-weight: bold;
  padding: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  padding: 3px 7px;

  color: $color-gray-500;

  font-family: "Public Sans, sans-serif";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  background: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    background-color: $color-gray-100;
    border-radius: 4px;

    color: $color-black-900;
  }

  &:active {
    background-color: $color-gray-050;
    border-radius: 4px;

    color: $color-black-900;
  }
}
