@import "./color.scss";
@import "./font.scss";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;

  background-color: black;

  color: $color-white-000;
}

button {
  color: $color-white-500;
  border: 1px solid $color-white-300;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 120px;
  height: 60px;
  box-sizing: content-box;
}
